html {
    scroll-behavior: smooth;
}
body{
    clear: both;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../Img/donfo01.jpg);
    background-position: center;
    background-size: cover;
}

ul {
    list-style: none;
}
h1,
h2,
h3,
h4{
    font-family: 'Belleza', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}   
/************  MENU  ****************************/
 #menutoogle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menutoogle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menutoogle span {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), backgroun 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}
#menutoogle span:first-child {
    transform-origin: 0% 0%;
}
#menutoogle span:first-child(2) {
    transform-origin: 0% 100%;
}
#menutoogle input:checked~span {
    opacity: 1;
    transform: rotate(40deg) translate(-2px, 1px);
    background: #223322;
}
#menutoogle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menutoogle input:checked~span:nth-last-child(2) {
    transform: rotate(-50deg) translate(0, -1px);
}
#menu {
    position: absolute;
    width: 250px;
    height: 1000px;
    margin: -100px 0 0 -56px;
    padding-top: 50px;
    padding-top: 125px;
    background: #fb8b24;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
.centradop{
    margin: 0 15%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}
#menu a{
    margin: 50px;
}
#menu li {
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
#menutoogle input:checked~ul {
    transform: none;
}
/*********************    CALCULADORA IMC      *****************************/

.cuadroimc{
    width: 74%;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 45%;
    margin-top: 2%;
    border: 2px solid #fb5607;
    border-radius: 10px;
    background: #d3d3d39d;
    margin: 8px;
}      
.imc-title h1{
    text-align: center;
}

input[type="number"]{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.form-group{
    margin: 8px 5px;
}

.botones2{
    margin: 20px;
    text-align: center;
}

.btn{
    padding: 5px 40px;
    border-radius: 50px;
    border: none;
    background: #ffffff;
}

.btn:hover{
    background: #f77f00;
}
/**************************    TABLA DE IMC DATOS   ***************************************/

.tab-peso{
    width: 50%;
    margin: 25px auto;
}   

.tab-peso table{
    width: 100%;
}

.tab-encabezado tr th{
    padding: 15px 0;
    background: #0f80aa;
}

.tab-datos tr td{
    padding: 5px 0;
    text-align: center;
    font-family: 'Belleza', sans-serif;
}


/**************************   IMC texto  ************************************/
.elimc{
    width: 45%;
    margin: 0 10px;
    border: 2px solid #fb5607;
    border-radius: 10px;
    font-family: 'Belleza', sans-serif;
    background: #d3d3d39d;
}
.elimc h3{
    text-align: center;
    font-family: 'Belleza', sans-serif;
}
.textimc{
    text-align: justify;
    padding: 4px;
    font-size: 15px;
}

/*****************  CALCULADORA DE PROTEINAS DIARIAS  ****************************/
.proteinas{
    clear: both;
    width: 40%;
    float: right;
    margin: 90px 15%;
    border: 2px solid #fb5607;
    border-radius: 20px;
    background: #d3d3d39d;
}  

.proteinas h2{
    text-align: center;
}

.contenedor-proteinas{
    width: 70%;
    margin: 5px;
    padding: 25px;
}

input[type="text"]{
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 4px 55px;
    border-radius: 15px;
    border: none; 
}

#opcion{
    width: 70%;
    border-radius: 10px;
    border: none;
}

select{
    margin: 20px 20px;
    padding: 4px 75px;
}

.resultado-gramos{
    margin: 20px 0;
}

input[type="button"]{
    margin: 15px 35px;
    padding: 6px 40px;
    border-radius: 25px;
    border: none;
}
input[type="button"]:hover{
    background: #f77f00;
}

#resul-gramos span{
    color: #0c33b4;
    font-weight: bold;
    font-size: 23px;
}