body{
    width: 100%;
    overflow-x: hidden;
    background: #ededf0;
}
p{
    font-family: 'Lato', sans-serif;
}
/*ENCABEZADO*/
header{
    width: 100%;
    background: #80b918;
    height: 90px;
    /* la barra del menu sea fija*/
    position: fixed;
    z-index: 10;
}

.menu{
    width: 80%;
    height: 70px;
    margin: auto;
}

.logo{
    width: 35%;
    height: 70px;
    float: left;
    padding-top: 10px;
    /*PARA QUE EL CONTENEDOR NO SE AGRANDE*/
    box-sizing: border-box;
}

.logo p a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color:  #ffffff;
    font-family: 'Pacifico', cursive;
}

/******************POSICIONAMSO EL MENU******************/
nav{
    width: 65%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
/*PARA QUE EL CONTENEDOR NO SE AGRANDE*/
    box-sizing: border-box;
}

nav ul li {
    /*menu ponemos horizontal*/
    display: inline;
}

nav ul li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
/*ESPACIOS ENTRE MENU*/
    padding-left: 16px;
    font-weight: bold;
/*UN ESPACIO ENTRE LETRA*/
    letter-spacing: 1px;
}

nav ul li a:hover{
    color: #d00000;
}
 .ultimo a{
    padding: 12px 18px;
    background: #e85d04;
}
nav ul .ultimo a:last-child{
    border-radius: 25px;
    color: #ffffff;
}
nav ul .ultimo a:last-child:hover{
    color: #000000;
}
/******** IMAGEN EN EL ENCABEZADO ************/
.bg-fondo{
    background: url(../Img/hola2.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;   
}


.frase{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20%;
    font-size: 55px;
    font-family: 'Pacifico', cursive;
}

/**********************   SECCION MAIN      *****************************/
.main{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;  
}

.titulo{
text-align: center;
}

.titulo h2{
    font-size: 40px;
}

.titulo p {
    font-size: 25px;
    font-family: 'Belleza', sans-serif;
}
/**********************************************/
.flex-contenedor {
    padding: .5em 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: initial;
}

.items {
    width: 28.22222%;
    margin: .5em auto;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
}
/**********************************************/
.mision h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 40px;
    font-family: 'Belleza', sans-serif;
}
.mision .parrafo{
    width: 60%;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
/**********************************************/
.trato{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
}

.doctores{
    background: url(../Img/doctores.jpg);
    width: 48%;
    height: 75vh;
    background-position: center;
    background-size: cover;   
}
.ofreszco{
    width: 49%;
    margin: 0 auto;
}
.ofreszco h3{
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    font-family: 'Belleza', sans-serif;
}

/**********************************************/
.retos{
    width: 80%;
    margin: 45px auto;
}

.retos h2{
    text-align: center;
    font-size: 33px;
    font-family: 'Belleza', sans-serif;
}

.retos p{
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}
/**********************************************/
.cuadro-op{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 40px;
}
.cuadro{
    width: 30%;
    border: 2px solid #2b9348;
    margin: auto;
    text-align: center;
}

.cuadro:hover{
    background: #aacc00;
}

.cuadro i{
    margin: 0 40%;
    padding-top: 10px;
}
.cuadro button{
    padding: 10px 10px;
    margin: 15px 0;
    border-radius: 25px;
    text-decoration: none;
    font-size: 17px;
    background-color:  #e85d04;
}

.cuadro button a{
    text-decoration: none;
    color: #000;
}
.cuadro button:hover{
    background: #ffffff;
}

/***************************************************/
.contactame{
    background: url(../Img/cotactame.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;  
    margin-top: 30px;
}
.conte-contactame{
    width: 90%;
    height: 60vh;
    background-color: #ffffff7c;
    position: absolute;
    margin: 65px 0;
}

.conte-contactame p {
    width: 65%;
    text-align: center;
    margin: 1.3em 5em;
    font-size: 3.3em;
    font-family: 'Belleza', sans-serif;
}

.bu-contacto{
    display: block;
    margin: 0 auto;
    padding: 12px 60px;
    border: 2px solid #faa307;
    background-color:  #ffffff7c;
    font-size: 20px;
}

.bu-contacto:hover{
    background-color: #fb5407cb;
}

/************************************      SERVICIOS        ***********************************************************/
/*********   imagen de head  *********/
.bg-fondo2{
    background: url(../Img/manzana.jpg);
    width: 100%;
    height: 95vh;
    background-position: center;
    background-size: cover;   
}

.frase2{
    width: 50%;
    margin: 0 -15%;
    padding: 20%;
    text-align: center;
    font-size: 55px;
    font-family: 'Pacifico', cursive;
}

/***************************   MAIN-PLANES        **********************************/
.main-planes{
    width: 90%;
    margin: 0 auto;
}

.main-planes h2{
    text-align: center;
    font-size: 2.2em;
}

.main-planes .centro {
    text-align: center;
    font-size: 20px;
}

.planes{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   
}

.tag{
   width: 35.333%;
   margin: 20px auto;
   padding: 20px 10px;
   text-align: justify;
   border: 3px solid #2b9348;
}

.tag h3{
    font-family: 'Belleza', sans-serif;
}

.tag p{
    line-height: 23px;
}

.tag:hover{
    background: #fff;
    font-weight: bold;
}

/****************      ACORDION           *************************/
.semana h2{
    font-family: 'Belleza', sans-serif;
}

#box {
    width: 100%;
    float: left;
    margin-top: 40px;
    clear: both;
}

#acordion {
    margin-top: 20px;
}

  /**************    FOOTER    *******************************/
.footer {
    background-color: #84be17;
}

footer {
    text-align: center;
    padding: 50px 0;
}

footer p {
    color: #fff;
    font-family: 'Belleza', sans-serif;
    font-size: 24px;
}

.menu-social {
    margin-bottom: 25px;
}

.redes-sociales {
    margin-left: 0;
    padding-left: 0;
}

.redes-sociales li {
    display: inline-block;
}

.redes-sociales a {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
}

.redes-sociales .social-facebook a {
    background: #2d4ddb;
}

.redes-sociales .social-twitter a {
    background: #1cdb15;
}

.redes-sociales .social-instagran a {
    background: #e6520e;
}



footer .menu-social ul.redes-sociales li a {
    margin: 0 5px;
}

