.contenedor-asignacionPlan{
    width: 70%;
    height: 90vh;
    margin-right: 30px;
    padding: 15px;
    border-radius: 15px;
    background: #75747477;
}

input[type="text"]{
    padding: 4px 35px;
    border-radius: 15px;
    border: none;
}
#cedulaPaciente{
    display: inline-block;
    width: 73%;
    padding: 4px;
}
#cedulaBuscar{
    border-radius: 15px;
    border: none;
    margin-left: 140px;
    padding: 9px 45px;
    font-weight: bold;
    font-size: 18px;
    background: #2AC10F;
    width: 70%;
}

#cedulaBuscar:hover{
    background: #ffffff;
    transition: ease 0.5s;
}

fieldset{
    width: 73%;
    margin: 10px auto;
    padding: 20px;
}

fieldset legend{
    font-weight: bold;
}
#fielset_actividadesDiarias{
    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
}
#fielset_actividadesDiarias label{
    margin-left: 10px;
    font-size: 18px;
}
#btn-hecho{
  width: 70%;
  border: none;
  margin: 0 15%;
  padding: 8px ;
  background: #2AC10F;
}

#btn-hecho:hover{
    background: #ffffff;
    transition: ease 0.5s;
}

/*******   TABLA DEASIGANCION DE PLAN NUTRICIONAL  *************/
.contenedor-planAsignado{
    width: 99%;
    height: 50vh;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-hijo1{
    height: 50vh;
    width: 65%;
    margin: 15px 0;
}

.tabla-nutricionista{
    width: 100%;
    height: 50vh;
}

.encabezado-tabla, th{
    width: 40%;
    padding: 8px 0;
    background: #e85d04;
    border-radius: 3px;
}

tbody, td{
    border-bottom: 1px solid #ffffff;
    font-size: 17px;
}



.contenedor-hijo2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
    margin: 15px 0;
}

#borrar-datos-paciente{
    margin: 25px 20px;
    padding: 6px 80px;
    border-radius: 15px;
    border: none;
    background: #2AC10F;
}

#borrar-datos-paciente:hover{
    background: #fcfcfc;
}

#ver-pdf{
    margin: 15px 20px;
    padding: 6px 50px;
    border-radius: 15px;
    border: none;
    background: #2AC10F;
}

#ver-pdf:hover{
    background: #ffffff;
}