html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  body{
      font-size: 1.8rem;
  }
  img{
      max-width: 100%;
  }
                      /*HEADER*/
  header{
    width: 100%;
    background: #80b918;
    height: 90px;
    position: fixed;
    z-index: 10;
}

.menu{
    width: 80%;
    height: 70px;
    margin: auto;
}

.logo{
    width: 35%;
    height: 70px;
    float: left;
    padding-top: 10px;
    /*PARA QUE EL CONTENEDOR NO SE AGRANDE*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.logo p a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color:  #ffffff;
    font-family: 'Pacifico', cursive;
}

/****************** POSICIONAMSO EL MENU ******************/
#nvg_menu_arriba{
    width: 65%;
    height: 50px;
    float: left;
    text-align: right;
    padding-top: 34px;
/*PARA QUE EL CONTENEDOR NO SE AGRANDE*/
    box-sizing: border-box;
}

#nvg_menu_arriba ul li {
    /*menu ponemos horizontal*/
    display: inline;
}

#nvg_menu_arriba ul li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
/*ESPACIOS ENTRE MENU*/
    padding-left: 16px;
    font-weight: bold;
/*UN ESPACIO ENTRE LETRA*/
    letter-spacing: 1px;
}

#nvg_menu_arriba ul li a:hover{
    color: #d00000;
}
 .ultimo a{
    padding: 12px 18px;
    background: #e85d04;
}
#nvg_menu_arriba ul .ultimo a:last-child{
    border-radius: 25px;
    color: #ffffff;
}
#nvg_menu_arriba ul .ultimo a:last-child:hover{
    color: #000000;
}
/*MENU*/
/************  MENU  ****************************/
a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
}   
#menutoogle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menutoogle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menutoogle span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), backgroun 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}
#menutoogle span:first-child {
  transform-origin: 0% 0%;
}
#menutoogle span:first-child(2) {
  transform-origin: 0% 100%;
}
#menutoogle input:checked~span {
  opacity: 1;
  transform: rotate(40deg) translate(-2px, 1px);
  background: #223322;
}
#menutoogle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menutoogle input:checked~span:nth-last-child(2) {
  transform: rotate(-50deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 290px;
  height: 1000px;
  margin: -100px 0 0 -56px;
  padding-top: 50px;
  padding-top: 125px;
  padding-left: 3rem;
  background: #fb8b24;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
.centradop{
  margin: 0 15%;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
}
#menu a{
  margin: 50px;
}
#menu li {
  padding: 5px 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
#menutoogle input:checked~ul {
  transform: none;
}

  /*Formulario y Login*/
  .foto_login{
      background-image: url(../Img/plato1.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .foto_registro{
    background-image: url(../Img/registro_pacienti.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  .centar_contenido{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 98vh;
      width: 55%;
  }
  .input_campo{
    background: transparent;
    border: none;
  }

.texto_lista1{
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Gayathri', sans-serif;
}
.texto_lista2{
  margin-top: 20%;
  font-size: 4rem;
  text-shadow: 1px 3px 5px #000000;
  text-align: center;
  font-weight: bold;
  font-family: 'Gayathri', sans-serif;
}

  .texto{
      color: #ffffff;
      letter-spacing: 6px;
  }
  .formulario{
      height: 100%;
      position: relative;
  }
  .formulario form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .campo{
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
  }
  .campo_user{
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      width: 70%;
  }
  .icon_user{
      text-align: center;
      border-radius: 5px;
      padding: 2rem 4rem;
      width: 30%;
  }
  .iconos{
      font-size: 7rem;
      color: #ffffff;
      cursor: pointer;
      text-shadow: 1px 3px 5px #000000;
  }
  .iconos:hover{
      color: #34F211;
  }
  .hola1,.hola2{
      display: none;
      font-size: 4rem;
      color: #2AC10F;
  }
  #nutricionista:checked ~ .hola1{
    display: flex;
  }
  #paciente:checked ~ .hola2{
    display: flex;
  }
  .icon_user{
    display: flex;
    align-items: center;
  }
  .icon_user input{
      display: none;
  }
  .icon{
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .adicional{
    margin: 0 auto;
    
  }
  .campo_lista{
    flex: 0 0 90%;
  }
  .icono{
      color: #ffffff;
      font-size: 4.8rem;
  }
  .icono_grande{
    font-size: 6rem;
    cursor: pointer;
    margin-right: 1.5rem;
  }
  .icono:hover{
      color: #34F211;
  }
  .input_campo{
      height: 5.3rem;
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 2.8rem;
      text-shadow: 1px 3px 7px #000000;
  }
  .input_campo::placeholder{
      color: #ffffff;
      text-shadow: 1px 3px 5px #000000;
      font-size: 2.3rem;
      text-transform: uppercase;
  }
  .submit{
      display: flex;
      justify-content: center;
  }
  .input_submit{
      display: inline-block;
      width: 100%;
      padding: 1rem 0;
      border: 0;
      border-radius: 0.5rem;
      font-size: 2.1rem;
      cursor: pointer;
      background-color: #2AC10F;
      color: #ffffff;
      margin-top: 1rem;
  }
  .input_submit:hover{
      background-color: #ffffff;
      color: #2AC10F;
  }
  .boton_usuario1,.boton_usuario2{
      width: 20%;
      font-size: 2rem;
      padding: 0.3rem 0;
      text-align: center;
      margin:0;
  }
  .cuadro_extra{
      background-color: rgba(81, 89, 89, 0.3);
      border-radius: 5px;
      margin-right: 1rem;
      padding: 1.5rem;
  }
  /*tipo paciente/nutricionista*/
#selecciona_paciente, #selecciona_nutricionista{
  display: none;
}
.boton_usuario1{
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  top: 10%;
  left: 58%;
  border-right: 1px solid black;
}
.boton_usuario2{
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  top: 10%;
  left: 78%;
}
/*intercambio de registros*/
.seccion_nutricionista{
  display: none;
  height: 85%;
}
.seccion_paciente{
  display: none;
}
#selecciona_paciente:checked ~ .seccion_paciente{
  display: block;
}
#selecciona_nutricionista:checked ~ .seccion_nutricionista{
  display: block;
}
#olvidarContraseña{
  text-align: center;
  margin-top: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

 